<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Joy</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Echo</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Order</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Regen</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Serenity</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Misery</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Astral</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Nova</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Oblivion</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Armageddon</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Balevalent</string>
		<key>vibe</key>
		<integer>8</integer>
		<key>dissonance</key>
		<integer>2</integer>
		<key>tamber</key>
		<integer>7</integer>
		<key>syncopation</key>
		<integer>7</integer>
		<key>available</key>
		<false/>
	</dict>
</array>
</plist>
